%article-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3em;

    @media (max-width: 900px) {
      margin-top: 2em;
    }
  }

  > p {
    margin-top: 1em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    margin-top: 2em;
  }
}

.s-article {
  &__back-button {
    position: absolute;
    top: 2.9rem;
    left: 2.9rem;

    @media (max-width: 900px) {
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  &__info {
    color: var(--sj-burnt-orange);

    &-wrapper {
      font-weight: bold;
      padding: 0.8rem 2.9rem;
      border-bottom: 2px solid var(--sj-white);

      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__intro {
    $intro: &;

    &-wrapper {
      display: flex;
      align-items: flex-start;
      padding: 8.5rem 0 0 2.9rem;
      position: relative;

      @media (max-width: 900px) {
        flex-direction: column;
        padding: 0;
      }
    }

    &-title {
      @include secondary-font;
      margin-bottom: 2.75rem;

      @media (max-width: 900px) {
        margin: 0 0 1rem 0;
      }
    }

    &-content {
      font-weight: bold;
      @extend %article-content;
    }

    &-image {
      width: 54.8vw;
      flex-shrink: 0;
      margin-left: 4.45rem;

      @media (max-width: 900px) {
        width: 100vw;
        margin: 0;
        order: 1;
      }
    }

    &--recipes-blog {
      #{$intro} {
        margin-right: 4rem;

        @media (max-width: 900px) {
          order: 2;
          padding: 0 2.9rem;
          margin: 0;
          width: 100vw;
        }

        &-image {
          margin: -11.6rem 0 0 auto;

          @media (max-width: 900px) {
            margin: 0 0 1.88rem 0;
          }
        }
      }
    }

    &--news-blog {
      @media (max-width: 900px) {
        padding-top: 2rem;
      }

      #{$intro} {
        @media (max-width: 900px) {
          order: 2;
          padding: 0 2.9rem;
          width: 100vw;
        }

        &-image {
          margin-bottom: 6.2rem;

          @media (max-width: 900px) {
            padding-top: 3rem;
            margin-bottom: 1.88rem;
          }
        }
      }
    }
  }

  &__body {
    $body: &;

    &-wrapper {
      padding: 0 0 6.2rem 2.9rem;
      display: grid;
      grid-template-columns: minmax(auto, auto) minmax(54.8vw, 54.8vw);
      grid-column-gap: 4.45rem;

      @media (max-width: 900px) {
        grid-template-columns: 1fr;
        padding: 0 0 3rem;
      }
    }

    &-text {
      font-weight: bold;

      @media (max-width: 900px) {
        padding: 0 2.9rem;
      }

      @extend %article-content;
    }

    &-ingredients {
      grid-row-start: 1;
      grid-row-end: 3;

      @media (max-width: 900px) {
        padding: 0 2.9rem;
      }

      &-title {
        margin-bottom: 1em;
        font-weight: 700;

        @media (max-width: 900px) {
          font-size: 1.76rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    &-directions {
      padding-right: 9.2rem;

      @media (max-width: 900px) {
        margin-top: 2rem;
        padding: 0 2.9rem;
      }

      &-title {
        margin-bottom: 1em;

        @media (max-width: 900px) {
          font-size: 1.76rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    &-media {
      &-item {
        margin-bottom: 2.15rem;

        picture,
        img,
        video {
          width: 100%;
        }
      }
    }

    &--no-media {
      display: flex;

      .s-article__body {
        &-media {
          display: none;
        }

        &-text {
          max-width: 35em;
        }
      }
    }

    &--news-blog {
      #{$body} {
        &-media {
          flex-shrink: 0;
          padding-top: 8.1rem;

          @media (max-width: 900px) {
            padding-top: 2rem;
          }

          &-item {
            &-picture {
              aspect-ratio: 528 / 790;
            }
          }
        }

        &-text {
          @media (min-width: 901px) {
            padding-right: 6.2rem;
          }
        }
      }
    }

    &--recipes-blog {
      margin-top: 3.3rem;

      @media (max-width: 900px) {
        margin-top: 4rem;
        padding: 0;
      }

      #{$body} {
        &-wrapper {
          grid-template-columns: minmax(auto, auto) minmax(64.9vw, 64.9vw);
        }

        &-media {
          margin-top: 5rem;
        }
      }
    }
  }
}
