.s-featured-collection {
  $this: &;
  position: relative;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;

  &__headline {
    width: 65vw;
    margin-bottom: 1rem;

    @include for-size(tablet-down) {
      display: none;
    }

    &:after {
      content: "";
      border-bottom: 2px solid var(--sj-burnt-orange);
      height: 2px;
      width: 6.2rem;
      display: block;
      padding-top: 1.5rem;
    }
  }

  &__links {
    margin-bottom: 2rem;

    @include for-size(tablet-down) {
      display: none;
    }
  }

  &__item-link {
    @include secondary-font;
    line-height: 0.7em;
    display: inline-block;
    font-size: 4.2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    overflow: hidden;

    &:hover {
      color: var(--sj-white);
    }
  }

  &__collection-title {
    font-size: 3.65rem;
    line-height: 3.9rem;
    font-weight: 700;

    @include for-size(laptop-up) {
      position: absolute;
      left: 0;
      top: 50%;
      padding: 0.82em 0;
      writing-mode: vertical-lr;
      transform: translateY(-50%);
      background-color: var(--sj-black);
    }

    @include for-size(tablet-down) {
      @include secondary-font;
      @include font-size(xl);
      text-align: center;
      margin-bottom: 1.6rem;
    }
  }

  &__cta-button {
    margin: 0 auto;

    @include for-size(tablet-down) {
      margin-top: 1.5rem;
    }
  }

  @include for-size(laptop-up) {
    padding-left: 5.2rem;

    &::before {
      content: "";
      position: absolute;
      left: calc(3.9rem / 2);
      top: 0;
      width: 1px;
      height: 100%;
      background-color: white;
    }

    &__decoration {
      position: sticky;
      top: calc(50% - var(--featured-collection-decoration-height) / 2);
      bottom: calc(50% - var(--featured-collection-decoration-height) / 2);
      left: 0;
      width: 100%;

      &-track {
        position: absolute;
        bottom: var(--featured-collection-decoration-track-offset, 0);
        left: 0;
        width: 7rem;
        height: var(--featured-collection-decoration-track-height, 0);
        transition: opacity 350ms;
        z-index: 100;
      }
    }
  }

  @include for-size(tablet-down) {
    padding-bottom: 3.6rem;
  }
}
