.s-military {
  padding: 9.6rem 0 9.15rem;

  @include for-size(tablet-down) {
    padding: 3.9rem 0 4.6rem;
  }

  &__intro {
    text-align: center;
    padding: 0 7rem;

    @include for-size(tablet-down) {
      padding: 0 4.7rem;
    }

    &-description {
      margin: 3rem auto 2.75rem;

      @include for-size(tablet-down) {
        margin: 3.5rem auto 2.35rem;
      }

      @include for-size(laptop-up) {
        width: 54.8vw;
      }
    }
  }

  &__content {
    width: 100%;
    overflow-x: hidden;
    padding: 9.55rem 22.2rem 0 7rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include for-size(tablet-down) {
      padding: 7.29rem 2.35rem 0;
    }

    @include for-size(phone-only) {
      align-items: center;
    }

    &::before {
      content: "";
      background-image: url('{{ "military-background-decoration.svg" | asset_url }}');
      background-repeat: no-repeat;
      background-size: contain;
      width: 32.95rem;
      height: 33.15rem;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;

      @include for-size(phone-only) {
        width: 20.64rem;
        height: 20.64rem;
        right: auto;
        left: 7.29rem;
        top: 3.96rem;
      }
    }

    &-title {
      width: 100%;
      margin-bottom: 6.25rem;

      @include for-size(phone-only) {
        margin-bottom: 12rem;
      }
    }

    &-logos {
      width: 9.6vw;
      display: flex;
      flex-direction: column;

      @include for-size(phone-only) {
        width: 2.88rem;
        order: 3;
      }

      &-img {
        margin-bottom: 4.7rem;

        @include for-size(phone-only) {
          margin-bottom: 2.2rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &-list {
      width: calc(100% - 9.6vw);
      padding: 0 6.45rem 0 7.37rem;

      @include for-size(tablet-down) {
        padding-right: 0;
        width: calc(100% - 2.88rem);
      }

      @include for-size(phone-only) {
        order: 2;
        padding: 0 2rem 0 1.84rem;
      }

      &-item {
        margin-bottom: 1.5rem;

        @include for-size(tablet-up) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
