.s-product-grid {
  $this: &;
  padding: 0 4.9rem 8.5rem;

  @include for-size(tablet-down) {
    padding: 0 1.8rem 3.88rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 8rem;

    @include for-size(tablet-down) {
      column-gap: 2.21rem;
      row-gap: 2rem;
    }

    @include for-size(phone-only) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      position: relative;
      transition: opacity 500ms;
    }

    &--few {
      display: flex;
      justify-content: center;
    }

    &--loading {
      position: relative;
      pointer-events: none;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 1rem;
        transform: translate(-50%, 0);
        width: min(10vw, 2rem);
        aspect-ratio: 1;
        background: url("{{ 'ui-spinner.svg' | asset_url }}") no-repeat center;
        background-size: 100% auto;
      }

      #{$this}__products-item {
        opacity: 0;
      }
    }
  }
}
