<h1 class="s-blog__heading title title--lg">
  {{ blog.title }}
</h1>
{%- paginate blog.articles by 4 -%}
  <div class="s-blog__articles">
    {%- for article in blog.articles -%}
      <div class="s-blog__articles-item">
        {%- render 'card-blog-article',
          card_blog_article: article
        -%}
      </div>
    {%- endfor -%}
  </div>
  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog",
  "limit": 1,
  "tag": "section",
  "class": "s-blog"
}
{% endschema %}