.nav {
  $this: &;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sj-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
  z-index: 100;

  &--visible {
    opacity: 1;
    pointer-events: all;
    z-index: 100;
  }

  &__subnav {
    width: 100%;
    position: absolute;
    right: 0;
    top: 7rem;
    background-color: var(--sj-burnt-orange);
    padding: 1.1rem 7.5rem 1.6rem;
    display: none;
    opacity: 0;

    &-link-list {
      display: flex;
      justify-content: center;

      &-picture {
        height: 9rem;
        margin: 0 auto 0.9rem;
      }

      &-title {
        @include secondary-font;
        font-weight: 700;
        font-size: 2rem;
        display: block;
        border: 2px solid var(--sj-white);
        padding: 0.15rem 0.6rem;
        text-align: center;
        line-height: 1em;
        transition: color 250ms, background-color 250ms, border-color 250ms;

        &:hover {
          background-color: var(--sj-white);
          color: var(--sj-burnt-orange);
          transition: color 250ms, background-color 250ms, border-color 250ms;
        }
      }

      &-item {
        display: flex;
        align-items: center;

        &:not(:last-child)::after {
          content: "";
          -webkit-mask-image: url('{{ "ui-plus.svg" | asset_url }}');
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-position: center;
          mask-image: url('{{ "ui-plus.svg" | asset_url }}');
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-position: center;
          background-color: var(--sj-white);
          width: 2.75rem;
          height: 3rem;
          display: inline-block;
          margin: 0 4.5rem;
        }
      }
    }
  }

  &__close-button {
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
  }

  &__link-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    position: relative;

    @media (min-width: 1101px) {
      padding: 0 5rem;
    }

    @media (max-width: 1100px) {
      flex-direction: column;
    }

    &-anchor {
      @include secondary-font;
      @include font-size(xl);
      font-weight: 700;
      line-height: 1em;

      @include for-size(phone-only) {
        font-size: 3.76rem;
      }

      &:hover {
        -webkit-text-stroke: 2px var(--sj-burnt-orange);
        color: transparent;
      }
    }

    &-item {
      display: flex;
      align-items: center;

      @media (max-width: 1100px) {
        flex-direction: column;
        position: relative;
      }

      @include for-size(laptop-up) {
        &:hover {
          .nav__subnav {
            display: block;
            opacity: 1;
          }
        }
      }

      &:not(:last-child)::after {
        content: "";
        -webkit-mask-image: url('{{ "ui-plus.svg" | asset_url }}');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        mask-image: url('{{ "ui-plus.svg" | asset_url }}');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        background-color: var(--sj-burnt-orange);
        width: 2.75rem;
        height: 3rem;
        display: inline-block;
        margin: 0 1.5rem;

        @media (max-width: 1100px) {
          margin: 1rem auto;
        }
      }
    }
  }

  &__subscribe-button {
    margin: 3.5rem auto auto;

    @include for-size(phone-only) {
      padding: 5.29rem;
      margin-top: 3.11rem;
    }
  }

  &__subscribe-form {
    padding: 4rem 0;
    text-align: center;

    .subscribe-form {
      &__title {
        @include secondary-font;
        font-size: 2rem;
        font-weight: 700;
      }

      &__field {
        display: flex;
        justify-content: center;
      }

      &__input {
        @include for-size(laptop-up) {
          max-width: 21.5rem;
          text-align: center;
          margin-bottom: 0;
          margin-right: 1em;
        }
      }
    }
  }
}
