.rb-app.rb-app {
  --rb-app-bg: #000;
  --rb-nav-bg: #000;
  --rb-nav-color: var(--sj-white);
  --rb-heading-color: var(--sj-white);
  --rb-body-color: var(--sj-burnt-orange);
  --rb-progress-bar-guide: var(--sj-white);
  --rb-brand-color: var(--sj-burnt-orange);
  --rb-page-width: 1220px;
  --font-size-5: 16px;
  --rb-base-spacing: 15px;
  --rb-btn-bg: var(--sj-white);
  --rb-btn-color: var(--sj-black);
  --rb-btn-bg-hover: var(--sj-burnt-orange);
  --rb-btn-color-hover: var(--sj-burnt-orange);
  --rb-btn-radius: 0;
  --rb-btn-pady: calc(15px / 2);
  --rb-btn-padx: calc(15px);
  --rb-item-width: calc(100% / 1);
  --rb-item-aspect-ratio: 100%;
  --rb-item-radius: 0;

  .rb-btn:not(.rb-btn-qty) {
    @extend .button, .button--secondary;

    border: none;
  }
}

[data-template-type="product"][data-template-name="recharge-bundle"] {
  .s-product {
    &__images-list,
    &__info-wrapper,
    .product-feature-list {
      display: none;
    }
  }

  .rb-qty-wrapper {
    @extend .input-number;

    &.rb-qty-wrapper {
      margin: auto;

      input.rb-input {
        @extend .input-number__input;
        border: none;
        color: var(--sj-white);
      }
    }
  }

  .rb-btn-qty {
    @extend .input-number__button;

    &.rb-btn-qty {
      background: transparent;
      border: none;
      color: var(--sj-white);
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }

  .rb-order-group-title,
  .rb-order * {
    color: var(--sj-white);
  }

  select.rb-select {
    @extend .input-select__native-select;

    &.rb-select {
      background-color: transparent;
      color: var(--rb-body-color);
      width: 100%;
      padding-right: 2rem;
    }
  }

  .rb-frequency-price {
    margin-top: 1rem;
  }

  .rb-items-wrapper {
    @include for-size(laptop-up) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-size(tablet-up) {
      display: grid;
      gap: 2rem;
    }
  }
}

.cart {
  undefined > div.shopify-cleanslate > div span > div {
    min-width: 100%;
    color: white;
    text-align: center !important;

    button > span {
      color: white !important;
      text-transform: uppercase;
    }
  }
}
