.site-header {
  padding: 0.6rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @include for-size(phone-only) {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    align-items: center;
  }

  &__logo {
    @include for-size(phone-only) {
      svg {
        width: 1.3rem;
        height: auto;
      }
    }
  }

  &__nav-button {
    position: absolute;
    right: 50%;
    transform: translateX(50%);

    @include for-size(tablet-up) {
      top: 1.65rem;
    }

    @include for-size(phone-only) {
      svg {
        width: 1.53rem;
      }
    }

    &:after {
      content: "";
      -webkit-mask-image: url('{{ "ui-plus.svg" | asset_url }}');
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-image: url('{{ "ui-plus.svg" | asset_url }}');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: var(--sj-burnt-orange);
      width: 1.1rem;
      height: 2rem;
      position: absolute;
      margin-left: 0.6rem;
      opacity: 0;
      transition: opacity 250ms;

      @include for-size(phone-only) {
        margin-left: 0.3rem;
      }
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: opacity 250ms;
      }
    }
  }

  &__secondary-nav {
    display: flex;
    align-items: center;

    @include for-size(tablet-up) {
      padding-top: 0.6rem;
    }
  }

  &__cart-button {
    line-height: 1em;
    transition: transform 250ms;
    transform-origin: 41.42% 87.5%;

    @include for-size(phone-only) {
      svg {
        width: 1.76rem;
      }
    }

    &:hover {
      transform: rotate(-23deg);
    }
  }

  &__shop-button {
    margin-left: 2rem;

    @include for-size(phone-only) {
      margin-left: 1rem;
    }
  }
}
